@import '../variable';
@import '../reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header {
  background: $white;
  background-image: url(./background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  padding: 5rem 0;
  text-align: center;

  &-center {
    max-width: $max-width;
    width: 90%;

    h1 {
      color: $white;
      margin: 0;
    }

    p {
      color: $white;
      font-size: 1.125rem;
      margin: 2rem auto;

      span {
        border-bottom: 2px solid $primary-design;
        display: inline-block;
        letter-spacing: 5px;
        line-height: 1.25;
        margin: 0 0.5rem;
        font-style: italic;
        font-weight: 900;
        text-align: center;
      }
    }
  }

  @include desktop {
    & {
      min-height: 60vh;

      &-center {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
